.category-products__title {
  position: relative;
  display: inline-flex;
  margin-top: 20px;
  color: rgb(25, 25, 25);
  font-style: italic;
  font-size: 36px;
  font-weight: 600;
  line-height: 42px;
  text-align: left;
}

.category-products__title::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -2px;
  width: 100px;
  height: 2px;
  background-color: #ea580c;
  transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.category-products__content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  gap: 30px 70px;
  flex-wrap: wrap;
  padding: 40px 10px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.category-products__content .item {
  text-align: center;
  position: relative;
  width: 240px;
  transition: transform 0.3s ease-in-out;
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 15px;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease;
  justify-content: space-between;
}

.category-products__content .item a {
  text-decoration: none;
}

.category-products__content .item img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category-products__content .item h3 {
  margin-top: 10px;
  color: rgb(25, 25, 25);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 700;
  text-transform: capitalize;
  text-align: start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-products__content .item p {
  max-width: 210px;
  margin-top: 10px;
  color: #333333;
  font-size: 1rem;
  line-height: 1rem;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.category-products__content .item .item-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.category-products__content .item .item-price strong {
  color: rgb(25, 25, 25);
  font-size: 1rem;
  font-weight: 700;
}

.category-products__content .item .buy-now-btn {
  color: #fff;
  padding: 5px 5px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.category-products__content .item .buy-now-btn-delete {
  background-color: red;
  color: #fff;
}

.item-price-delete {
  background-color: red;
  color: #fff !important;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.category-products__content .item:hover img {
  transform: scale(1.1);
}

.category-products__content .item:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.category-products__none {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}

.category-products__none p {
  background-color: #ea580c;
  color: #fff !important;
  padding: 8px 16px;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.cart-summary {
  display: flex;
  align-items: end;
  justify-content: space-between;
  border-top: 1px solid #ea580c;
  padding-top: 15px;
}

.cart-summary-price {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cart-summary button {
  background-color: #ea580c;
  color: #fff !important;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

@media (max-width: 431px) {
  .category-products__content {
    justify-content: center;
  }

  .cart-summary {
    flex-direction: column;
    align-items: start;
    gap: 15px;
    justify-content: space-between;
  }
}
